<footer class="mt-auto py-3 bg-success text-white shadow-sm">
    <div class="container text-center">
        <small>
            © {{ "now"|date("Y") }} Eco It, Inc &mdash; Créé avec <i class="fa fa-leaf"></i> | 
            <a href="mailto:contact@ecoit.fr" class="text-white text-decoration-underline">Contact</a>
        </small>
    </div>
</footer>
<html>

