{% set formation_show = path('formation_show', {'slug' : formation.slug }) %}


  <a class="card1" href="{{ formation_show }}">
    <h3>{{ formation.title }}</h3>
    <p class="small">{{ formation.description|striptags|slice(0, 250) ~ '...' }}</p>
    <div class="go-corner" href="{{ formation_show }}">
      <div class="go-arrow">
        →
      </div>
    </div>
  </a>